<div id="<%= dom_id(post, :like_section)%>" >
    <% if user_signed_in? %>
        <% like = current_user.likes.find_by(post: post) %>
        <% if like.nil? %>
            <%= button_to "Like", likes_path, params: {like: { post_id: post.id } }, method: :post, data: {turbo: true}, remote: true %>
        <% else %>
            <%= button_to "Unlike", like_path(like), method: :delete, data: { turbo: true }, remote: true%>
        <% end %>
    <% end %>
    <p> <%= link_to "#{post.likes.count} likes", liked_users_path(post.id) %>

    </p>
</div>