<div id="<%= dom_id post %>" class="post-container">
  <p>
    <%= link_to "", post, class: "post-link"%>
  </p>
  <p>
    <% post.images.each do |image| %>
      <%= image_tag(image, style: "object-fit: cover; width: 200px; height: 300px") %>
    <% end %>
  </p>

  <p>
    <%= post.title%>
  </p>
</div>
<p>
    <%#= link_to post.user.username, post.user, class: "post-link"%>
</p> 


