<!-- Footer -->
<footer class="bg-dark text-light pt-5 pb-3 mt-5">
  <div class="container">
    <div class="row">

      <!-- About -->
      <div class="col-md-3 col-sm-6 mb-4">
        <h5 class="text-uppercase">About</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Our Story</a></li>
          <li><a href="#" class="text-light text-decoration-none">Team</a></li>
          <li><a href="#" class="text-light text-decoration-none">Careers</a></li>
        </ul>
      </div>

      <!-- Support -->
      <div class="col-md-3 col-sm-6 mb-4">
        <h5 class="text-uppercase">Support</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Help Center</a></li>
          <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
          <li><a href="#" class="text-light text-decoration-none">Terms</a></li>
        </ul>
      </div>

      <!-- Explore -->
      <div class="col-md-3 col-sm-6 mb-4">
        <h5 class="text-uppercase">Explore</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Discover</a></li>
          <li><a href="#" class="text-light text-decoration-none">Trending</a></li>
          <li><a href="#" class="text-light text-decoration-none">Tags</a></li>
        </ul>
      </div>

      <!-- Social -->
      <div class="col-md-3 col-sm-6 mb-4">
        <h5 class="text-uppercase">Follow Us</h5>
        <div class="d-flex gap-3 mt-2">
          <a href="#" class="text-light"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

    </div>

    <!-- Copyright -->
    <div class="text-center pt-3 border-top border-secondary mt-4">
      <small>&copy; <script>document.write(new Date().getFullYear())</script> InstaClone. All rights reserved.</small>
    </div>
  </div>
</footer>
